{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false
      }
    }
  },
  "module": {
    "type": "es6"
  }
}
